<!-- This file demonstrates the use of calibration data. 
     Note that the calibration data referenced is for the "First-MM" Xtion Pro at the AIS Lab and 
     should be replaced with calibration data for your camera -->
<launch>
  <include file="$(find openni_launch)/launch/openni.launch">
    <arg name="rgb_camera_info_url" value="file://$(find rgbdslam)/xtion_calibrated/cal.yml" />
    <arg name="depth_camera_info_url" value="file://$(find rgbdslam)/xtion_calibrated/cal_ir.yml" />
  </include>
  <node pkg="dynamic_reconfigure" type="dynparam" 
        name="setregistration" args="set camera/driver depth_registration True"/>

  <node pkg="rgbdslam" type="rgbdslam" name="rgbdslam" cwd="node" required="true" output="screen"> 
    <!-- Input data settings-->
    <param name="config/topic_image_mono"              value="/camera/rgb/image_rect_color"/> 
    <param name="config/topic_image_depth"             value="/camera/depth_registered/hw_registered/image_rect_raw"/>
    <param name="config/topic_points"                  value=""/> <!--if empty, poincloud will be reconstructed from image and depth -->

    <param name="config/feature_detector_type"         value="SIFTGPU"/>
    <param name="config/feature_extractor_type"        value="SIFTGPU"/>
    <param name="config/nn_distance_ratio"             value="0.95"/> <!-- Feature correspondence is valid if distance to nearest neighbour is smaller than this parameter times the distance to the 2nd neighbour -->
    <param name="config/max_keypoints"                 value="700"/>
    <!--param name="config/cloud_creation_skip_step"      value="4"/-->
    <param name="config/visualization_skip_step"       value="4"/>
    <param name="config/squared_meshing_threshold"     value="0.01"/>
    <param name="config/subscriber_queue_size"         value="3"/>

    <!-- Algortithm settings -->
    <param name="config/backend_solver"                value="pcg"/> <!-- Which solver to use in g2o for matrix inversion: "csparse" , "cholmod" or "pcg"  -->

  </node>
</launch>
