<!-- This file demonstrates the use of SIFT features for online SLAM with a Kinect. 
     The openni driver is started from this file -->
<launch>
  <include file="$(find openni_launch)/launch/openni.launch"/>
  <node name="$(anon dynparam)" pkg="dynamic_reconfigure" type="dynparam" args="set_from_parameters /camera/driver" clear_params="true">
    <param name="image_mode" type="int" value="5" /><!-- QVGA@30Hz -->
    <param name="depth_mode" type="int" value="5" /><!-- QVGA@30Hz -->
  </node>
  <node pkg="rgbdslam" type="rgbdslam" name="rgbdslam" cwd="node" required="true" output="screen"> 
    <!-- Input data settings-->
    <param name="config/topic_image_mono"              value="/camera/rgb/image_rect_color"/> <!--could also be color -->
    <param name="config/topic_image_depth"             value="/camera/depth_registered/sw_registered/image_rect_raw"/>

    <param name="config/depth_camera_fx"               value="295.0"/>
    <param name="config/depth_camera_fy"               value="295.0"/>
    <param name="config/depth_camera_cx"               value="160.0"/>
    <param name="config/depth_camera_cy"               value="120.0"/>
    <param name="config/cloud_creation_skip_step"      value="2"/><!-- subsample the images' pixels (in both, width and height), when creating the cloud -->

  </node>
</launch>
